/*.app{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

.message{
    position: absolute;

}

.title{
    width: 100%;
    height: 12vh;
}

.container{

    padding: 1%;
    box-sizing: border-box;
    width: 16.66666666666667%;
    height: 33.33333333333333%;
    display: flex;
    position: relative;
    perspective: 800px;
}

.card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: relative;
    border-radius: 8px;
    border: 1px black solid;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.card img:hover{
    /*border: 5px gold solid;*/
    /*box-sizing: border-box;*/
}

.mainBoard{
    display: flex;
}

.cardDisplay{
    border: 1px solid black;
}

.cardDisplay{
    width: 70%;
    height: 85vh;
    display: flex;
    flex-flow: row wrap;
}

.player{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 15%;
}

.boss{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 15%;
}