/*.app{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

.alertProgress{
    animation: alert 5s linear 1;
}

@keyframes alert {
    0%{ width: 100% }
    100%{ width: 0 }
}

.message{
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-family: 'Istok';
    font-size: 20vmin;
}

.title{
    width: 100%;
    height: 5vh;
}

.bossImage{
    width: 100%;
    border: 1px solid black;
    background-color: ghostwhite;
}

.container{
    padding: 3%;
    box-sizing: border-box;
    width: 16.66666666666667%;
    height: 33.33333333333333%;
    display: flex;
    position: relative;
    /*perspective: 800px;*/
    transition: transform .65s;
    transform-style: preserve-3d;
    /*transform: translateZ(25px);*/
}

.alertText{
    position: absolute;
    font-size: large;
    font-weight: bold;
    width: 67%;
    top: -20px;
    text-align: center;
    transform: translateZ(50px) rotateX(-25deg);
    background-color: red;
    border: 1px solid black;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /*transform: translateZ(26px);*/
}

.cardContainer{
    perspective: 800px;
    transition: transform .75s;
    transform-style: preserve-3d;
    transform: translateZ(25px);
}

.fadeout{
    animation: fade 1s linear 1;
}

@keyframes fade {
    0%{ opacity: 1; }
    100%{ opacity: 0;}
}

.container:hover{
    transform: translateZ(50px);
}

/*@keyframes hover {*/
    /*0%{ transform: translateZ(0px); }*/
    /*75%{ transform: translateZ(20px); }*/
    /*100%{ transform: translateZ(0px); }*/
/*}*/

.cardDisplay{
    perspective: 800px;
    transform-style: preserve-3d;

    transition: transform 1s;

    background-image: url("../assets/images/mgsjungle.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    width: 70%;
    height: 85%;

    display: flex;
    flex-flow: row wrap;

    border-left: thick solid;
    border-radius: 5px;
    border-right: thick solid;
    box-sizing: border-box;

}

.card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 8px;
    border: 2px solid black;

    transition: .2s ease-in-out;
    /*transform: scale(0.95);*/

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.card img:hover{
    /*border: 5px gold solid;*/
    /*box-sizing: border-box;*/
    /*animation: pulse 2s ease infinite;*/
    /*transform: scale(1);*/
    cursor: pointer;
}

/*.card img:after{*/
    /*content: '';*/
    /*width: inherit;*/
    /*height: inherit;*/
    /*display: block;*/
    /*position: absolute;*/
    /*border-radius: 8px;*/
/*}*/

/*.card img:hover:after{*/
    /*border: 1px solid red;*/
    /*animation: ripple 2s linear infinite;*/
/*}*/

.floater:after{
    width: inherit;
    height: inherit;
    content: '';
    display: block;
    position: absolute;
    border-radius: 8px;
}

.floater:before{
    width: inherit;
    height: inherit;
    content: '';
    display: block;
    position: absolute;
    border-radius: 8px;
}

.floater:hover:after, .floater:hover:before{
    border: 1px solid red;
}

.floater:hover:after{
    animation: ripple 2s linear infinite;
}

.floater:hover:before{
    animation: ripple 2s linear 1s infinite;
}

@keyframes ripple {
    0%{ transform: scale(1); }
    75%{ transform: scale(1.75); opacity: 1; }
    100%{ transform: scale(2); opacity: 0; }
}

.card img:nth-child(1){
    position: relative;
}

.card img:nth-child(2){
    top: 0;
    position: absolute;
}


.mainBoard{
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    margin: auto;
    width: 400px;
    height: 200px;
}

.front{
    background-color: #9f9fab;
    width: 100%;
    position: absolute;
    height: 15%;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    border-left: thick solid black;
    border-right: thick solid black;
    border-bottom: thick solid black;
    box-sizing: border-box;

    transform: rotateX(-48deg) translateZ(155px) translateY(116px);
}

@media screen and (min-width: 1601px){

    .mainBoard{
        width: 1600px;
        height: 750px;
        top: 30px;
    }

    .titleWords{
        font-size: 80px;
    }

    .startClick{
        font-size: 40px;
    }

    .front{
        /*transform: rotateX(-48deg) translateZ(528px) translateY(523px);*/
        transform: rotateX(-90deg) translateZ(656px) translateY(53px);
    }

}

@media screen and (max-width: 1600px) and (min-width: 801px){

    .mainBoard{
        width: 1200px;
        height: 500px;
    }

    .titleWords{
        font-size: 50px;
    }

    .startClick{
        font-size: 25px;
    }

    .front{
        /*transform: rotateX(-48deg) translateZ(399px) translateY(389px);*/
        transform: rotateX(-90deg) translateZ(530px) translateY(43px);
    }

}

@media screen and (max-width: 800px) and (min-width: 480px){

    .mainBoard{
        width: 600px;
        height: 300px;
    }

    .front{
        /*transform: rotateX(-48deg) translateZ(210px) translateY(187px);*/
        transform: rotateX(-90deg) translateZ(268px) translateY(21px);
    }

}

@media screen and (max-width: 479px){
    .titleWords{
        font-size: 20px;
    }

    .startClick{
        font-size: 10px;
    }
}

.menu, .front, .scanlines{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    pointer-events:none;
}

.menu{
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-image: url("../assets/images/mgsjungle.jpg");*/
    width: 70%;
    height: 100%;
    left: 15%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bossScanlines{
    z-index: 0;
    position: absolute;
    width: 15%;
    height: 41%;
    background-image: url("../assets/images/scan_lines.png");
    opacity: 0.05;
}

.scanlines{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/scan_lines.png");
    opacity: 0.05;
}

.icon{
    display: inline-block;
    color: white;
    transition: transform .5s;
}

.icon:hover{
    transform: translateZ(5px);
}

.uiBar{
    height: 5vh;
    text-align: center;

    display: flex;
    justify-content: space-evenly;

    width: 50%;
    margin: auto;

    transform-style: preserve-3d;
    perspective: 800px;

    transition: transform 1s;
}

.info{
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;

    transition: opacity 1s;

    font-family: MGS2;
    color: white;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.info>p{
    font-size: 30px;
}

.instructions{
    text-align: center;
    width: 75%;
    margin: auto;
}

.transitionMenu{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/mgsjungle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;

}

.backgroundMenu{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 1s;
}

.titleWords{
    /*font-size: 10px;*/
    /*text-shadow: -3px -3px #777777bd;*/
    animation: wave 4s ease-in-out infinite;
    transition: opacity 1s;
}

@keyframes wave {
    0%{
        text-shadow: 0 0 #777777bd;
    }

    50%{
        text-shadow: -4px -4px #777777bd;
    }

    100%{
        text-shadow: 0 0 #777777bd;
    }
}

@keyframes wave-mini {
    0%{
        text-shadow: 0 0 #777777bd;
    }

    50%{
        text-shadow: -2px -2px #777777bd;
    }

    100%{
        text-shadow: 0 0 #777777bd;
    }
}

.mgsfont{
    font-family: MGS2;
    font-size: 30px;
}

.select{
    font-family: MGS2;
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.startClick{
    display: inline-block;
    /*width: 30%;*/
    /*font-size: 40px;*/
    text-align: center;
    transition: opacity 1s;
}

.startClick:hover{
    /*text-shadow: -3px -3px #777777bd;*/
    animation: wave 4s ease-in-out infinite;
    cursor: pointer;
}

.console{
    display: flex;
    transform: rotateX(25deg);
    transform-style: preserve-3d;

    border: thick solid black;
    box-sizing: border-box;
}

.player{
    width: 15%;
    text-align: center;
    /*background-color: #575757;*/
    background-color: #cccdd0;
    font-family: "Istok";
    transiation: opacity 1s;
}

.playerBox, .bossBox{
    transition: opacity 1s;
}

.boss{
    width: 15%;
    text-align: center;
    /*background-color: #575757;*/
    background-color: #cccdd0;
    font-family: "Istok";
}

.player, .boss, .cardDisplay{
    /*animation: pulse 5s ease infinite;*/
    border-color: black;
}

.hideCards{
    opacity: 0;
}

.healthContainer{
    margin: 5%;
    width: 90%;
    height: 25px;
    border: 1px solid black;
    position: relative;
}

.health{
    height: 100%;
    background: linear-gradient(to bottom right, dodgerblue, mediumspringgreen);
    transition: width 1s;
}

.lifeText{
    font-family: 'Istok-Bold';
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 25px;
    left: -35%;
    top: -150%;
    position: relative;
    text-shadow: 2px 2px 0 black;
}

.digitalText{
    font-family: 'Digital-7';
}

@keyframes pulse {
    0%{
        border-color: #00f2ff;
    }

    50%{
        border-color: #00ffac;
    }

    100%{
        border-color: #00f2ff;
    }
}

@font-face {
    font-family: 'Istok';
    src: url("../assets/fonts/IstokWeb-Regular.ttf");
}

@font-face {
    font-family: 'Istok-Bold';
    src: url("../assets/fonts/IstokWeb-Bold.ttf");
}

@font-face {
    font-family: 'Digital-7';
    src: url("../assets/fonts/digital-7.ttf");
}

@font-face {
    font-family: 'MGS2';
    src: url("../assets/fonts/MGS2.ttf");
}